<!DOCTYPE html>
<html>
  <head>
    <title>News Homepage</title>
    <link rel="stylesheet" href="home.css">
  </head>

  <body>
    <h1>New News</h1>
      <ul>
        <% articles_hash.each do |url, info| %>
          <li><a href="<%= url %>"> <%= info["article"] %></a>
              <%= info["description"] %>
          </li>
        <%end%>
      </ul>
      <a href="/articles/new"> Submit Your Article Here</a>
  </body>
</html>
